// Styling
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

header {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    height: 70px;
    text-align: center;
    background-color: #eeeeee;
    color: #444444;

    border-bottom: 1px solid #aaaaaa;

    position: absolute;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.content {
    top:70px;
    position:relative;
    height:100%;
    width:100%;
}

.button {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 20px;
    margin-left: 2%;
    width: 2%;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px;
    outline: none;
    float: left;
    background-color: white;
    font-color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.input {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 20px;
    margin-left: 1%;
    padding-left: 10px;
    width: 75%;
    border-radius: 10px;
    box-shadow: 2px 2px;
    outline: none;
    float: left;
}

.ruleset {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 20px;
    margin-left: 10px;
    width: 19%;
    outline: none;
    float: right;
    position: absolute;
}

.rulesetInput {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 20px;
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px;
    outline: none;
}

.percent {
    font-size: 20px;
    padding-top: 10px;
    margin-left: calc(5% - 60px);
    float: left;
    font-family:Arial;
}

.text {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 5%;
    width: 95%;
    padding-left: 13px;
    position: relative;
}

inlineText{
}

.removed {
    color: #888888;
}

.above {
    position: absolute;
    top: -6px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 20px;
}

.below {
    position: absolute;
    top: 28px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 12px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// JS stuff
#input {
}

#output {
}

#stylesheet {
}